<div>
    <h1>Logueate usando GitHub</h1>
    <a href="/api/sessions/github"> <button>Loguearse con GitHub</button></a>
    <br>
    <h2>No queres usar GitHub?</h2>
    <p>Si no estas registrado, <a href="/users/register">hazlo aquí</a></p>
    <p>Si ya tenes cuenta, <a href="/users/login">ingresa aquí</a></p>
</div>